@page "/"
@* @page "/cadastrarproduto" *@

@using ProjetoInicial.Models

<Titulo Texto="Cadastro de Produto"></Titulo>
<Mensagem Msg="@msg"></Mensagem>

<EditForm Model="@produto" OnValidSubmit="@Incluir" OnInvalidSubmit="@Erro">

    <DataAnnotationsValidator />
 
    <label class="text-muted mt-3">Nome:</label>
    <InputText @bind-Value=produto.Nome class="form-control" />
    <ValidationMessage For="() => produto.Nome"></ValidationMessage>

    <label class="text-muted mt-3">Preço:</label>
    <InputNumber TValue="double" @bind-Value=produto.Preco class="form-control" />
    <ValidationMessage For="() => produto.Preco"></ValidationMessage>

    <label class="text-muted mt-3">Quantidade:</label>
    <InputNumber TValue="int" @bind-Value=produto.Quantidade class="form-control" />
    <ValidationMessage For="() => produto.Quantidade"></ValidationMessage>

    <button class="mt-3 btn btn-primary" type="submit">Incluir</button>

</EditForm>

<div class="p-5 border shadow mt-2">
    <h4 class="text-center">Produto Cadastrado</h4>
    @produto.Nome
    <br />
    @produto.Preco
    <br />
    @produto.Quantidade
    <br />
    @produto.ValorEstoqueTotal()
    <br />
</div>

<button @onclick="ColocaDados" class="btn btn-primary mt-3">
    Coloca Dados
</button>

@code {
    Produto produto = new Produto();
    private string msg = "";

    private void ColocaDados()
    {
        produto.Nome = "Caneta";
        produto.Preco = 1;
        produto.Quantidade = 10;
    }

    private void Incluir()
    {
        msg = "Produto cadastrado com sucesso!";
    }

    private void Erro()
    {
        msg = "Produto não cadastrado!";
    }
}
